@model IEnumerable<RAZAM.Models.Event>
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/Scripts/main.js")
}

<div class="Add">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-8"><button class="AddButton btn-block Button" id="AddButton" area-hidden="true">Add event</button></div>
        </div>
    </div>
</div>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="margin-top:75px">
                <span class="modalH">Add Event</span>
                <button class="CloseButton close" id="CloseAddButton" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddEvent", "Home", FormMethod.Post))
                {
                    <p>Title of the event:</p>
                    @Html.TextBox("Name", null, new { @class = "box", placeholder = "Title" })
                    <p>Location:</p>
                    @Html.TextBox("Place", null, new { @class = "box", placeholder = "Place" })
                    <p>Date & Time:</p>
                    @Html.TextBox("DateTime", null, new { @class = "box", placeholder = @DateTime.Now.Date } )
                    <p>Type of the event:</p>
                    @Html.TextBox("Type", null, new { @class = "box", placeholder = "Team"})
                    <p><input type="submit" value="Add" class="AddModalButton  btn-block Button" id="AddEventButton" /></p>
                }
            </div>
        </div>
    </div>
</div>
<div class="EventTips">
    <div class="container">
        @foreach (RAZAM.Models.Event ev in Model)
        {
            @Html.Partial("EventTip", ev)
        }
    </div>
</div>


