
@using RAZAM.Models
@model IEnumerable<RAZAM.Models.UserNote>
@{
    ViewBag.Title = "Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/Scripts/SliderScript.js");
    @Scripts.Render("~/Scripts/main.js")
    @Styles.Render("~/Content/SliderStyle.css");
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="margin-top:50px">
                <span class="modalH">Add Note</span>
                <button class="CloseButton close" id="CloseAddButton" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddNote", "Home", FormMethod.Post))
                {
                    <p>Name of the Note:</p>
                    @Html.TextBox("Name", "name", new { @class = "box" })
                    <p>Description:</p>
                    @Html.TextBox("Description", "location", new { @class = "box" })
                    <p>The receiver:</p>
                    @Html.DropDownList("ReceiverId", ViewBag.Users as SelectList, new { @class = "box" })
                    @*<p>*@<input type="submit" value="Add" class="AddModalButton  btn-block Button" />@*</p>*@
                }
            </div>
        </div>
    </div>
</div>
<div class="Add">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-8"><button class="AddButton btn-block Button" id="AddButton" area-hidden="true">Add Note</button></div>
        </div>
    </div>
</div>
<h2>Added Notes</h2>
<div class="container">
    <div class="row">
        <div id="SenderSlider">
            <div class="col-lg-1">
                <a class="slider_control slider_control_left SenderSliderControl" id="leftSenderButton" href="#"><</a>
            </div>
            <div class="slider col-lg-10">
                <div class="slider_wrapper">
                    @foreach (RAZAM.Models.UserNote note in Model)
                    {
                        if (note.SenderId.ToString() == ViewBag.UserId)
                        {
                            /*Status cheking has to be here*/
                            @Html.Partial("SenderNoteTip", note)
                        }
                    }
                </div>
            </div>
            <div class="col-lg-1">
                <a class="slider_control slider_control_right slider_control_show SenderSliderControl" id="rightSenderButton" href="#">></a>
            </div>
         </div>
    </div>
</div>
<h2>My Notes</h2>
<div class="container">
    <div class="row">
        <div class="slider" id="ReceiverSlider">
            <div class="slider_wrapper">
                @foreach (RAZAM.Models.UserNote note in Model)
                {
                    if (note.ReceiverId == ViewBag.UserId && note.Status != State.deflected
                        && note.Status != State.executed)
                    {
                        @Html.Partial("ReceiverNoteTip", note)
                    }
                }
            </div>
            <a class="slider_control slider_control_left ReceiverSliderControl" id="leftReceiverButton" href="#"><</a>
            <a class="slider_control slider_control_right slider_control_show ReceiverSliderControl" id="rightReceiverButton" href="#">></a>
        </div>
    </div>
</div>


